name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually
  workflow_dispatch:
  # (Optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # Options
          user: vprayag2005
          template: classic
          base: header, activity, community, metadata
          config_timezone: Asia/Kolkata
          
          # Shows Lines of Code
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          
          # Shows Merged PRs & Issues Overview (not per-repository)
          plugin_followup: yes
          plugin_followup_sections: user
          
          # Shows Languages
          plugin_languages: yes
